container_commands:
  01-command:
    command: rm -rf /tmp/.ebextensions/
  02-command:
    command: mkdir -p /tmp/.ebextensions/
  03-command:
    command: cp -R .ebextensions/* /tmp/.ebextensions/
  04-command:
    command: sudo cp /tmp/.ebextensions/context.xml /etc/tomcat7/Catalina/localhost/ROOT.xml